body {
  margin: 0;
  font-family: 'Orbitron';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.silkscreen-regular {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", serif;
  font-weight: 700;
  font-style: normal;
}
.table-container {
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center the table */
}

.Orbitron {
  font-family: "Orbitron", sans-serif;
}

.footer {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 900px) {
  .footer {
    position: relative;
    transform: none;
    text-align: center;
    margin-top: 20px;
  }
}

@keyframes lightningFlash {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

.lightning-flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px; /* Randomized in JavaScript */
  height: 300px; /* Randomized in JavaScript */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  z-index: 9999;
  pointer-events: none;
  transform: rotate(15deg); /* Randomized in JavaScript */
  animation: lightningFlash 0.2s ease-in-out;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  opacity: 0; /* Default to hidden */
}
