@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.silkscreen-regular {
  font-family: 'Silkscreen', serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.silkscreen-bold {
  font-family: 'Silkscreen', serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.table-container {
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center the table */
}

.Orbitron {
  font-family: 'Orbitron', sans-serif;
  font-display: swap;
}

@keyframes lightningFlash {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.33;
  }
  100% {
    opacity: 0.8;
  }
  
}

.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
  z-index: 1050; /* Ensure it overlays all other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  word-wrap: break-word;
  table-layout: auto; /* Default setting */
}

@media (max-width: 768px) {
  table {
    table-layout: fixed; /* Ensure consistent column widths */
  }
  th, td {
    white-space: normal; /* Allow text to wrap */
    overflow-wrap: break-word;
  }
}

.react-modal-content {
  position: relative;
  width: 90%;
  max-width: 500px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1051;
}

.modal-open {
  overflow: hidden; /* Prevent scrolling on the body when the modal is open */
}

table tbody tr {
  min-height: 50px;
  height: 50px;
}

.lightning-flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px; /* Randomized in JavaScript */
  height: 300px; /* Randomized in JavaScript */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  z-index: 9999;
  pointer-events: none;
  transform: rotate(15deg); /* Randomized in JavaScript */
  animation: lightningFlash 0.2s ease-in-out;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  opacity: 0; /* Default to hidden */
}

.attention-grabber-button {
  display: inline-block;
  font-family: 'Orbitron', sans-serif; /* Matches your site style */
  font-size: 1.5rem; /* Large font size */
  color: black; /* Black text for strong contrast */
  background: linear-gradient(45deg, #ffeb3b, #ffc107); /* Eye-catching yellow gradient */
  padding: 20px 40px; /* Large padding for a big button */
  border: none;
  border-radius: 10px; /* Smooth rounded edges */
  box-shadow: 0 5px 15px rgba(255, 193, 7, 0.5); /* Glowing effect */
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-transform: uppercase; /* Bold uppercase text */
  text-decoration: none; /* Remove underline for links */
  text-align: center;
}

.attention-grabber-button:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 10px 30px rgba(255, 193, 7, 0.8); /* Intense shadow on hover */
}

.attention-grabber-button:active {
  transform: scale(0.95); /* Pressed effect */
  box-shadow: 0 5px 15px rgba(255, 193, 7, 0.5); /* Reset shadow */
}

.footer {
  position: fixed;
  right: 15px;
  top: 92%;
  transform: translateY(-50%);
  background-color: #ffc107;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffc107;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 10px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-icon {
  width: 25px;
  height: 25px;
  filter: invert(20%);
}

.social-icon:hover {
  filter: invert(50%);
}

.action-button {
  margin-right: 10px;
  margin-bottom: 10px;
}